:root {
    --primario: #272727;
    --primarioOscuro: #676a8b;
    --secundario: #fdf9f2;
    --secundarioOscuro: #8c7a9f ;
    --blanco: #fdf9f2;
    --negro: #000;
    --fuentePrincipal: "Staatliches", cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}


.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
    font-size: 4rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

#logo {
    height: 40px;
    margin: 20px;
}

#cuenta-carrito {
    position: absolute;
    background-color: var(--secundario);
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    aspect-ratio: 1;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

#contenedorCarrito {
    justify-content: space-between;
    width: 100%;
    min-height: 10rem;
    border: 2px solid black;
    margin: 1rem 0;
}


.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 1.5rem;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}


.juego {
    background-color: var(--primarioOscuro);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    border-radius:  15px 15px 15px 15px;
    box-shadow: 6px 6px 10px #9476b5;
}

.juego__imagen {
    width: 100%;
    border-radius:  15px 15px 15px 15px;
}
.juego__nombre {
    font-size: 4rem;
}

.juego__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.juego__nombre, .juego__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem;
    text-align: center;
    line-height: 1.2;
}


/* Filtros */
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none; 
}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    border-radius:  15px 15px 15px 15px;
    box-shadow: 6px 6px 10px #272727;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
    grid-column: 1 / 3;
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}


.cantidades {
    display: flex;
    align-items: center;
}

.btn__cantidad {
    height: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filtros {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.tarjeta__juego__carrito {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

.tarjeta__juego__carrito img {
    width: 4rem;
    height: 4rem;
}

.tarjeta__juego__carrito p {
    flex: 1;
    margin: 0 0.5rem;
    padding: 0.5rem;
    background-color: var(--primarioOscuro);
    color: var(--blanco);
    text-align: center;
    box-sizing: border-box;
    align-items: center;
}


.oculto {
    display: none !important; 
}

.flex {
    display: flex;
}

#contenedor__contador-carrito {
    align-items: baseline;
    display: flex;
    float: inline-end;
    aspect-ratio: 1;
    height: 4rem;
}

.rowReverse {
    display: inline-block;
    flex-direction: row-reverse !important;
}
